  
<ion-view view-title="{{data.title}}" class="app-bg">

	<ion-content>
	<!-- Content Starts Here -->
		<div class="profile-img">
			<div class="info-overlay">
				<div class="info-content">
					<h2 class="heading">{{data.title}}</h2>
					<p class="content">This community is dedicated to improving the lives of the elderly. We understand the importance of providing quality care to the elderly in Singapore.</p>
					<p class="no-margin-bottom">
						<span class="pull-left">
							<i class="ion-android-unlock"></i>
		                    <span>Public</span>
	                    </span>
	                    <span class="pull-right no-wrap">
	                    	24 members
	                    </span>
					</p>
				</div>
			</div>
			<img src="img/com-alzheimers.png" alt="Profile Imge of Arthur Welch" class="block">
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left com-details-tab">
		    <!-- <a class="tab-item" href="#">
		     	<i class="icon ion-thumbsup"></i>
		      	Like
		    </a> -->
		    <a class="tab-item" href="#">
		      	<i class="icon ion-ios-compose"></i>
		      	Post
		    </a>
		    
		    <a class="tab-item" href="#">
		      	<i class="icon ion-speakerphone"></i>
		      	Event
		    </a>

		    <a class="tab-item" href="#">
		      	<i class="icon ion-ios-personadd"></i>
		      	Invite
		    </a>
		 </div>

		<md-card class="tasks-card">
	      	<md-card-content class="tasks-card-content">
		        <md-item-content>
		          	<div class="md-tile-left">
		              	<img ng-src="img/profile-task-1.jpg" class="face" alt="">
		          	</div>
		          	<div class="md-tile-content">
		            	<h3><strong>Jancy Tan</strong></h3>
		            	<h4>Need to take 2 tablets - Amylin Mimetic, Wikoryl</h4>
			            <div class="location-link">
			              	<i class="ion-ios-location"></i>
			              	<a href="#" style="text-decoration: none;">Ayer Rajah Ave. BKL 79</a>
			            </div>
		          	</div>
		        </md-item-content>
		        <div class="washed-out-10 tasks-footer">
		          	<div class="item tabs tabs-secondary tabs-icon-left">
					    <a class="tab-item" href="#">
					      	<i class="icon ion-chatbox"></i>
					      	Comment
					    </a>
					    <a class="tab-item" href="#">
					     	<i class="icon ion-android-done"></i>
					      	Accept
					    </a>
					 </div>
				 </div>
	      	</md-card-content>
	    </md-card>

		<md-card class="tasks-card">
	      	<md-card-content class="tasks-card-content">
		        <md-item-content>
		          	<div class="md-tile-left">
		              	<img ng-src="img/profile-task-2.jpg" class="face" alt="">
		          	</div>
		          	<div class="md-tile-content">
		            	<h3><strong>Exercise</strong></h3>
		            	<h4>Help him walk him 10mins</h4>
			            <div class="location-link">
			              	<i class="ion-ios-location"></i>
			              	<a href="#" style="text-decoration: none;">China Town. BKL 21</a>
			            </div>
		          	</div>
		        </md-item-content>
		        <div class="washed-out-10 tasks-footer">
		          	<div class="item tabs tabs-secondary tabs-icon-left">
					    <a class="tab-item" href="#">
					      	<i class="icon ion-chatbox"></i>
					      	Comment
					    </a>
					    <a class="tab-item" href="#">
					     	<i class="icon ion-android-done"></i>
					      	Accept
					    </a>
					 </div>
				 </div>
	      	</md-card-content>
	    </md-card>
	<!-- Content Ends Here -->
	</ion-content>
</ion-view>