<ion-view view-title="Community">
    <ion-content>
    <!-- Content Starts Here -->
        <md-tabs>
            <md-tab label="Own">

                
                
                <div layout="row">
                    <div flex>
                        <md-card class="com-card">
                            <img src="img/com-oldage.PNG" alt="Washed Out">
                            <md-card-content class="com-card-content">
                                <h3 class="com-heading"><strong>Old Age</strong></h3>
                                <h5 class="com-sub-heading">24 Members</h5>

                                <div class="com-card-footer border">
                                    <div class="row">
                                        <div class="col info muted" layout="row">
                                            <i class="ion-android-unlock"></i>
                                            <span>Public</span>
                                        </div>
                                        <div class="col info admin">
                                            <i class="ion-android-person"></i>
                                            <span class="text-muted">Admin</span>
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card class="com-card">
                            <img src="img/com-alzheimers.PNG" alt="Washed Out">
                            <md-card-content class="com-card-content">
                                <h3 class="com-heading"><strong>Alzheimers</strong></h3>
                                <h5 class="com-sub-heading">78 Members</h5>

                                <div class="com-card-footer border">
                                    <div class="row">
                                        <div class="col info muted" layout="row">
                                            <i class="ion-android-lock"></i>
                                            <span>Private</span>
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>

                <div layout="row">
                    <div flex>
                        <md-card class="com-card">
                            <img src="img/com-kids.PNG" alt="Washed Out">
                            <md-card-content class="com-card-content">
                                <h3 class="com-heading"><strong>Kids</strong></h3>
                                <h5 class="com-sub-heading">43 Members</h5>

                                <div class="com-card-footer border">
                                    <div class="row">
                                        <div class="col info muted" layout="row">
                                            <i class="ion-android-contacts"></i>
                                            <span>Public</span>
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card class="com-card">
                            <img src="img/com-kids.PNG" alt="Washed Out">
                            <md-card-content class="com-card-content">
                                <h3 class="com-heading"><strong>Autism</strong></h3>
                                <h5 class="com-sub-heading">32 Members</h5>

                                <div class="com-card-footer border">
                                    <div class="row">
                                        <div class="col info muted" layout="row">
                                            <i class="ion-android-contacts"></i>
                                            <span>Private</span>
                                        </div>
                                        <div class="col info admin">
                                            <i class="ion-android-person"></i>
                                            <span class="text-muted">Admin</span>
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>


            </md-tab>
            <md-tab label="Near By">
                <p>Tab Content 2</p>
            </md-tab>
        </md-tabs>
    <!-- Content Ends Here -->
    </ion-content>
    <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="goToAdd()">
        <i class="icon ion-plus"></i>
    </md-button>
</ion-view>