<ion-view view-title="Community" class="app-bg">
    <ion-content>
    <!-- Content Starts Here -->
        <md-tabs>
            <md-tab label="Own">
                
                <div layout="row">
                    <div flex>
                    	<a href="#/app/community-details/Old Age" class="community-card">
	                        <md-card class="com-card">
	                            <img src="img/com-oldage.png" alt="Washed Out">
	                            <md-card-content class="com-card-content">
	                                <h3 class="com-heading"><strong>Old Age</strong></h3>
	                                <h5 class="com-sub-heading">24 Members</h5>

	                                <div class="com-card-footer border">
	                                    <div class="row">
	                                        <div class="col info muted" layout="row">
	                                            <i class="ion-android-unlock"></i>
	                                            <span>Public</span>
	                                        </div>
	                                        <div class="col info admin">
	                                            <i class="ion-android-person"></i>
	                                            <span class="text-muted">Admin</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </md-card-content>
	                        </md-card>
                        </a>
                    </div>
                    <div flex>
                    	<a href="#/app/community-details/Alzheimers" class="community-card">
	                        <md-card class="com-card">
	                            <img src="img/com-alzheimers.png" alt="Washed Out">
	                            <md-card-content class="com-card-content">
	                                <h3 class="com-heading"><strong>Alzheimers</strong></h3>
	                                <h5 class="com-sub-heading">78 Members</h5>

	                                <div class="com-card-footer border">
	                                    <div class="row">
	                                        <div class="col info muted" layout="row">
	                                            <i class="ion-android-lock"></i>
	                                            <span>Private</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </md-card-content>
	                        </md-card>
	                    </a>
                    </div>
                </div>

                <div layout="row">
                    <div flex>
                    	<a href="#/app/community-details/Kids" class="community-card">
	                        <md-card class="com-card">
	                            <img src="img/com-kids.png" alt="Washed Out">
	                            <md-card-content class="com-card-content">
	                                <h3 class="com-heading"><strong>Kids</strong></h3>
	                                <h5 class="com-sub-heading">43 Members</h5>

	                                <div class="com-card-footer border">
	                                    <div class="row">
	                                        <div class="col info muted" layout="row">
	                                            <i class="ion-android-unlock"></i>
	                                            <span>Public</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </md-card-content>
	                        </md-card>
	                    </a>
                    </div>
                    <div flex>
                    	<a href="#/app/community-details/Autism" class="community-card">
	                        <md-card class="com-card">
	                            <img src="img/com-kids.png" alt="Washed Out">
	                            <md-card-content class="com-card-content">
	                                <h3 class="com-heading"><strong>Autism</strong></h3>
	                                <h5 class="com-sub-heading">32 Members</h5>

	                                <div class="com-card-footer border">
	                                    <div class="row">
	                                        <div class="col info muted" layout="row">
	                                            <i class="ion-android-lock"></i>
	                                            <span>Private</span>
	                                        </div>
	                                        <div class="col info admin">
	                                            <i class="ion-android-person"></i>
	                                            <span class="text-muted">Admin</span>
	                                        </div>
	                                    </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                        </a>
                    </div>
                </div>


            </md-tab>
            <md-tab label="Near By">

                <div layout="row">
                    <div flex>
                    	<a href="#/app/community-details/Professionals" class="community-card">
	                        <md-card class="com-card">
	                            <img src="img/professionals.png" alt="Washed Out">
	                            <md-card-content class="com-card-content">
	                                <h3 class="com-heading"><strong>Professionals</strong></h3>
	                                <h5 class="com-sub-heading">108 Members</h5>

	                                <div class="com-card-footer border">
	                                    <div class="row">
	                                        <div class="col info muted" layout="row">
	                                            <i class="ion-android-unlock"></i>
	                                            <span>Public</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </md-card-content>
	                        </md-card>
	                    </a>
                    </div>

                    <div flex>
                    	<a href="#/app/community-details/Alzheimers" class="community-card">
	                        <md-card class="com-card">
	                            <img src="img/com-alzheimers.png" alt="Washed Out">
	                            <md-card-content class="com-card-content">
	                                <h3 class="com-heading"><strong>Alzheimers</strong></h3>
	                                <h5 class="com-sub-heading">78 Members</h5>

	                                <div class="com-card-footer border">
	                                    <div class="row">
	                                        <div class="col info muted" layout="row">
	                                            <i class="ion-android-lock"></i>
	                                            <span>Private</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </md-card-content>
	                        </md-card>
	                    </a>
                    </div>
                </div>

                <div layout="row">
                    <div flex>
                    	<a href="#/app/community-details/Kids" class="community-card">
	                        <md-card class="com-card">
	                            <img src="img/com-kids.png" alt="Washed Out">
	                            <md-card-content class="com-card-content">
	                                <h3 class="com-heading"><strong>Kids</strong></h3>
	                                <h5 class="com-sub-heading">43 Members</h5>

	                                <div class="com-card-footer border">
	                                    <div class="row">
	                                        <div class="col info muted" layout="row">
	                                            <i class="ion-android-unlock"></i>
	                                            <span>Public</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </md-card-content>
	                        </md-card>
	                    </a>
                    </div>
                    <div flex>
                    	<a href="#/app/community-details/Autism" class="community-card">
	                        <md-card class="com-card">
	                            <img src="img/com-kids.png" alt="Washed Out">
	                            <md-card-content class="com-card-content">
	                                <h3 class="com-heading"><strong>Autism</strong></h3>
	                                <h5 class="com-sub-heading">32 Members</h5>

	                                <div class="com-card-footer border">
	                                    <div class="row">
	                                        <div class="col info muted" layout="row">
	                                            <i class="ion-android-lock"></i>
	                                            <span>Private</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </md-card-content>
	                        </md-card>
	                    </a>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    <!-- Content Ends Here -->
    </ion-content>
    <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="goToAdd()">
        <i class="icon ion-plus"></i>
    </md-button>
</ion-view>