<ion-view view-title="Home" class="app-bg">

	<ion-content>
	<!-- Content Starts Here -->
		<section id="cd-timeline" class="cd-container">
			<div class="year">2015</div>
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<span class="date">27 <br>
					Jan</span>
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h3 class="no-margin-bottom">Task Accepted</h3>
					<p>You have assigned the task for Bruce Sandoval</p>
					<span class="cd-date">Feb 14</span>
					<!-- <span class="cd-date">Jan 14</span> -->
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-movie">
					<span class="date">26 <br>
					Jan</span>
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h3 class="no-margin-bottom">Posted into Family</h3>
					<p>Administering medication</p>
					<span class="cd-date">Feb 14</span>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<span class="date">23 <br>
					Jan</span>
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h3 class="no-margin-bottom">Created a task</h3>
					<p>Need to take 2 tablets - Amylin Mimetic, Wikoryl</p>
					<span class="cd-date">Jan 24</span>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->

			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-location">
					<span class="date">22 <br>
					Jan</span>
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h3 class="no-margin-bottom">Shared a task request</h3>
					<p>You have assigned the task for Bruce Sandoval</p>
					<span class="cd-date">Feb 14</span>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->
		</section> <!-- cd-timeline -->
	<!-- Content Ends Here -->
	</ion-content>
</ion-view>