<ion-view view-title="My Tasks">

	<ion-content>
	<!-- Content Starts Here -->
		<div data-calendar style="height: 250px;"></div>
		<div ng-show="show_task">
		<div class="content padding no-padding-bottom">
			<h2 class="no-margin-bottom">Tasks</h2>
		</div>
		<div class="card tasks">
		  	<div class="item item-text-wrap">
		  	<a ng-click="seekhelp()"><i class="task-completed ion-android-share-alt"></i></a>
		  	<h2 class="card-title">Administering Medication</h2>
		    <p>Need to take 2 tablets - Amylin Mimetic, Wikoryl</p>
		    <p>12:30PM</p>
		  	</div>
		</div>
		<div class="card tasks">
		  	<div class="item item-text-wrap">
		  	<a ng-click="seekhelp()"><i class="task-completed ion-android-share-alt"></i></a>
		  	<h2 class="card-title">Take him to hospital</h2>
		    <p>Drive him to hosital</p>
		    <p>3:00PM</p>
		  	</div>
		</div>
		<div class="card tasks">
		  	<div class="item item-text-wrap">
		  		<a ng-click="seekhelp()"><i class="task-completed ion-android-share-alt"></i></a>
			  	<h2 class="card-title">Excersices</h2>
			    <p>Help him walk him 10mins</p>
			    <p>05:00PM</p>
		  	</div>
		</div>
		</div>
	<!-- Content Ends Here -->
	</ion-content>
</ion-view>