<ion-view view-title="Pending Acceptance" class="app-bg">

	<ion-content>
	<!-- Content Starts Here -->
	<div class="list">

	  	<div class="item item-divider">
	    	Administrating Medicine
	    	<p class="inline"><small>&nbsp;&nbsp;For Aurther Welch</small></p>
	  	</div>

	  	<a class="item item-avatar position-relative" href="#">
	      	<img src="img/profile-task-1.jpg">
	      	<h2><strong>Bruce Sandoval</strong></h2>
	      	<p>Accepted your request</p>
	      	<span class="pending-action-btns">
			    <button class="button button-outline button-positive icon-btn button-balanced">
			      	<i class="icon ion-android-done"></i>
			    </button>
	      		<button class="button button-outline button-positive icon-btn button-assertive">
			      	<i class="icon ion-android-cancel"></i>
			    </button>
	      	</span>
	    </a>
	    <a class="item item-avatar" href="#">
	      	<img src="img/profile-task-2.jpg">
	      	<h2><strong>Venkman</strong></h2>
	      	<p>Accepted your request</p>
	      	<span class="pending-action-btns">
			    <button class="button button-outline button-positive icon-btn button-balanced">
			      	<i class="icon ion-android-done"></i>
			    </button>
	      		<button class="button button-outline button-positive icon-btn button-assertive">
			      	<i class="icon ion-android-cancel"></i>
			    </button>
	      	</span>
	    </a>

	    <div class="item item-divider">
	    	Excercise
	    	<p class="inline"><small>&nbsp;&nbsp;For Aurther Welch</small></p>
	  	</div>

	  	<a class="item item-avatar" href="#">
	      	<img src="img/profile-task-3.jpg">
	      	<h2><strong>Megan Douglas</strong></h2>
	      	<p>Accepted your request</p>
	      	<span class="pending-action-btns">
			    <button class="button button-outline button-positive icon-btn button-balanced">
			      	<i class="icon ion-android-done"></i>
			    </button>
	      		<button class="button button-outline button-positive icon-btn button-assertive">
			      	<i class="icon ion-android-cancel"></i>
			    </button>
	      	</span>
	    </a>
	    <a class="item item-avatar" href="#">
	      	<img src="img/profile-task-4.jpg">
	      	<h2><strong>Christine Gardner</strong></h2>
	      	<p>Accepted your request</p>
	      	<span class="pending-action-btns">
			    <button class="button button-outline button-positive icon-btn button-balanced">
			      	<i class="icon ion-android-done"></i>
			    </button>
	      		<button class="button button-outline button-positive icon-btn button-assertive">
			      	<i class="icon ion-android-cancel"></i>
			    </button>
	      	</span>
	    </a>

	</div>




	<!-- Content Ends Here -->
	</ion-content>
</ion-view>