<ion-view view-title="People I Care">
  <ion-content>
  <!-- Content Starts Here -->
  	<div class="list">
	    <a class="item item-thumbnail-left" href="#/app/profile">
		    <img src="img/car.jpg">
		    <h2>Jaison Thomas</h2>
		    <p>Nine Inch Nails</p>
		</a>
		<a class="item item-thumbnail-left" href="#/app/profile">
		    <img src="img/car.jpg">
		    <h2>Jaison Thomas</h2>
		    <p>Nine Inch Nails</p>
		</a>
		<a class="item item-thumbnail-left" href="#/app/profile">
		    <img src="img/car.jpg">
		    <h2>Jaison Thomas</h2>
		    <p>Nine Inch Nails</p>
		</a>
		<a class="item item-thumbnail-left" href="#/app/profile">
		    <img src="img/car.jpg">
		    <h2>Jaison Thomas</h2>
		    <p>Nine Inch Nails</p>
		</a>
	</div>
  <!-- Content Ends Here -->
  </ion-content>
  <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="goToAdd()">
	<i class="icon ion-plus"></i>
</md-button>
</ion-view>