<ion-view view-title="People I Care">
  <ion-content>
  <!-- Content Starts Here -->

    <div class="list people">
        <a class="item item-thumbnail-left" href="#/app/profile">
            <img src="img/people-alzheimers.png" class="face">
            <h2 class="list-heading">Arthur Welch</h2>
            <p>Next Task: <strong>Administering Medicine at 12:30PM</strong></p>
        </a>
        <!-- <a class="item item-thumbnail-left" href="#/app/profile">
            <img src="img/people-old.png" class="face">
            <h2 class="list-heading">Elizabeth</h2>
            <p>Next Task: <strong>Take her to bank</strong></p>
        </a>
        <a class="item item-thumbnail-left" href="#/app/profile">
            <img src="img/people-autism.png" class="face">
            <h2 class="list-heading">Jenny</h2>
            <p>Next Task: <strong>Pickup from school</strong></p>
        </a> -->
    </div>
  <!-- Content Ends Here -->
  </ion-content>
  <md-button class="md-primary md-fab md-fab-bottom-right orange-btn" ng-click="goToAdd()">
    <i class="icon ion-plus"></i>
</md-button>
</ion-view>