<ion-view view-title="Playlists">
  <ion-content>	


    <md-content>
    <md-list>
      <md-item ng-repeat="playlist in playlists">
        <md-item-content>
          <div class="md-tile-content">
            <h3>{{playlist.title}}</h3>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>


    <!-- <md-card ng-repeat="playlist in playlists"> 
      <md-card-content>
        <h3>{{playlist.title}}</h3>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...

        </p>
      </md-card-content>
    </md-card> -->
  </ion-content>
  <md-button class="md-warn md-fab md-fab-bottom-right royal" ng-click="showConfirm()">
	<i class="icon ion-person-add"></i>
  </md-button>
</ion-view>