  
<ion-view view-title="Arthur Welch">
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-ios-location" ng-click="showMap()"></button>
	</ion-nav-buttons>

	<md-button class="md-primary md-fab md-fab-bottom-right" ng-click="goToAdd()">
		<i class="icon ion-plus"></i>
	</md-button>

	<ion-content>
	<!-- Content Starts Here -->
		<div class="profile-img">
			<div class="info-overlay">
				<div class="info-content">
					<span>65yrs</span>
					<span>Male</span>
					<span>Alzheimers Patient</span>
				</div>
			</div>
			<img src="img/profile.png" alt="Profile Imge of Arthur Welch" class="block">
		</div>
		<!-- <div class="content padding seek-help">
			<div layout="row" layout-align="center center">
			  	<md-button class="md-raised md-primary btn-seek-help" ng-click="seekhelp()">Seek Help</md-button>
			</div>
		</div> -->


		<div class="content padding no-padding-bottom">
			<h2 class="no-margin-bottom">Tasks</h2>
		</div>
		<div class="card tasks">
		  	<div class="item item-text-wrap">
		  	<h2 class="card-title">Administering Medication</h2>
		    <p>Need to take 2 tablets - Amylin Mimetic, Wikoryl</p>
		    <p>12:30PM</p>
		  	</div>
		</div>
		<div class="card tasks">
		  	<div class="item item-text-wrap">
		  	<i class="task-completed ion-ios-checkmark"></i>
		  	<h2 class="card-title">Take him to hospital</h2>
		    <p>Drive him to hosital</p>
		    <p>3:00PM</p>
		  	</div>
		</div>
		<div class="card tasks">
		  	<div class="item item-text-wrap">
				<i class="task-completed ion-ios-checkmark"></i>
			  	<h2 class="card-title">Excersices</h2>
			    <p>Help him walk him 10mins</p>
			    <p>05:00PM</p>
		  	</div>
		</div>

		
	<!-- Content Ends Here -->
	</ion-content>
</ion-view>