<ion-modal-view>
  	<ion-header-bar align-title="left" class="bar-positive">
	    <div class="buttons">
	     	<button class="button button-clear">
	      		<i class="ion-android-done"></i>
	      	</button>
		    <h1 class="title">Seek Help</h1>
		    <button class="button button-clear" ng-click="closeHelp()">
		      	<i class="ion-android-close"></i>
		     </button>
	    </div>
	</ion-header-bar>

  	<ion-header-bar align-title="left" class="bar-positive">
	    <div class="buttons">
	     	<button class="button button-clear" ng-click="saveCommunity()">
	      		<i class="ion-android-done"></i>
	      	</button>
		    <h1 class="title">Seek Help</h1>
		    <button class="button button-clear" ng-click="closeHelp()">
		      	<i class="ion-android-close"></i>
		     </button>
	    </div>
	</ion-header-bar>
  	<ion-content>
		<div class="content padding">
			<!-- <h2>Your Message</h2> -->
			<div class="list list-inset">
			  	<label class="item item-input">
			    	<input type="text" placeholder="Subject">
			  	</label>
			  	<label class="item item-input">
			    	<textarea rows="10" placeholder="Message"></textarea>
			  	</label>
			  	<label class="item item-input item-select">
				    <div class="input-label">
				    	Community
				    </div>
				    <select>
				      	<option selected>All</option>
				      	<option>Old Age</option>
				      	<option>Kids</option>
				    </select>
				</label>
			  	<!-- <button class="button button-block button-positive">Submit</button> -->
			</div>
		</div>
  	</ion-content>
</ion-modal-view>
