<ion-modal-view class="app-bg">

  	<ion-header-bar align-title="left" class="bar-positive">
	    <div class="buttons">
	     	<button class="button button-clear" ng-click="closeTasks()">
	      		<i class="ion-android-arrow-back"></i>
	      	</button>
		    <h1 class="title">My Tasks on 30-03-2015</h1>
		    <button class="button button-clear" ng-click="closeTasks()">
		      	<i class="ion-android-done"></i>
		     </button>
	    </div>
	</ion-header-bar>
  	<ion-content>

<div class="content padding no-padding-bottom">
			<h2 class="no-margin-bottom" style="margin-top:0.4em">Tasks</h2>
		</div>
		<div class="card tasks">
		  	<div class="item item-text-wrap">
		  	<a ng-click="seekhelp()"><i class="task-completed ion-android-share-alt"></i></a>
		  	<h2 class="card-title">Take him to hospital</h2>
		    <p>Drive him to hosital</p>
		    <p class="text-muted"><i class="icon ion-android-time"></i> 11:00AM</p>
		  	</div>
		</div>
		<div class="card tasks">
		  	<div class="item item-text-wrap">
		  	<a ng-click="seekhelp()"><i class="task-completed ion-android-share-alt"></i></a>
		  	<h2 class="card-title">Administering Medication</h2>
		    <p>Need to take 2 tablets - Amylin Mimetic, Wikoryl</p>
		    <p class="text-muted"><i class="icon ion-android-time"></i> 12:30PM</p>
		  	</div>
		</div>
		<div class="card tasks">
		  	<div class="item item-text-wrap">
		  		<a ng-click="seekhelp()"><i class="task-completed ion-android-share-alt"></i></a>
			  	<h2 class="card-title">Excercise</h2>
			    <p>Help him walk him 10mins</p>
			    <p class="text-muted"><i class="icon ion-android-time"></i> 05:00PM</p>
		  	</div>
		</div>
		</ion-content></ion-modal-view>